@model EntityLayer.Concrete.Contact
@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Mesaj Detayları</h4>
            <form class="forms-sample" method="post">

                <div class="form-group">
                    @Html.HiddenFor(x=>x.ContactID)
                    <label for="exampleInputName1">Adı-Soyadı</label>

                    <span asp-validation-for="Name" class="text-danger"></span>

                    <input type="text" class="form-control" placeholder="Ad-Soyad" asp-for="Name">
                    <br />
                    <label for="exampleInputName1">Mail Adresi</label>

                    <span asp-validation-for="Mail" class="text-danger"></span>

                    <input type="text" class="form-control" placeholder="mail" asp-for="Mail">
                    <br />
                    <label for="exampleInputName1">Tarih</label>

                    <span asp-validation-for="Date" class="text-danger"></span>

                    <input type="text" class="form-control" placeholder="tarih" asp-for="Date">
                    <br />
                    <label for="exampleInputName1">Mesaj Detayı</label>
                    <textarea class="form-control" cols="5" rows="20"></textarea>
                    <br />
                   
                </div>
                <button type="submit" class="btn btn-primary me-2">Kaydet</button>
            </form>
        </div>
    </div>
</div>








